body {
  background-color: rgba(150, 200, 200, 0.5);
}
#body-wrapper {
  background-color: white;
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 600px;
}

@media all and (max-width: 500px){
  #body-wrapper {
    width: 100%;
    padding: 5px;
  }
}
#content-list li{
  padding: 8px;
}
#support-input {
  width: 70px;
}
.progressbar {
  max-width: 200px;
}

.product-table td {
  padding-right: 20px;
}

.align-right {
  text-align: right;
}

a {
  cursor: pointer;
}