body {
  background-color: rgba(150, 200, 200, 0.5);
}
#body-wrapper {
  background-color: white;
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  padding: 20px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 600px;
}
#support-input {
  width: 70px;
}
