
<template name="about">
  <h1>Fund sharing</h1>
  <p style='text-align: right;'>~ Fund Raising for Digital Products</p>
  <h2>About</h2>
  <p>
    I want to tell you a new way to raise funds for software, ebooks and other digital content
  </p>
  <ul id='content-list'>
    <li>
      The idea is that these products can be replicated at almost 0 cost, so the buyer should pay close to $0.      
    </li>
    <li>
      The problem is that there is an upfront cost for creating the product before it becomes cheaply available.
    </li>
    <li>
      The solution is to set an initial price at the beginning, i.e. the fund-raising stage, but refund the early buyers at a later stage when more people decide to purchase it.
    </li>
    <li>
      The price can never reach $0, unless we let people give up a part of the refund, which then accumulates to cover the original cost of the creation and the product becomes free (This cost of making the product free is known as the cost of freedom).
    </li>
  </ul>
  <p>
    I learn about this from <a href="http://www.fund-io.com">Fund I/O</a>. It's an interesting idea, blurring the line between paying vs donating and giving vs receiving. However, this has not been implemented as a platform for real projects.
  </p>
  <p>
    That's why I have decided to build a platform for Cornell students to put projects up. Currently, we will run it on fake money.
  </p>
  <p>To get started, create a product with your idea.</p>
  <div style="text-align: center;"><a href="/addProduct" class='btn btn-primary'>Create a product</a></div>
  <br/>
  <p>If you are not ready to build a product, but have ideas of what you want someone to build or want to help build something, visit </p>
  <div style="text-align: center;">
    <a class='btn' href="http://ideas.on.meteor.com">ideas.on.meteor</a>
  </div>

  <h2>Other details</h2>
  <p>Currently, we don't require funds to be raised with a deadline, but we do require there to be a deadline for product release once the fund has been raised.</p>
  <p>We also allow additional monetary payment for people who are willing to pay more, but of course they will be able to get the money back in the refunding stage.</p>
  <p>The rest of the process is similar to other crowd-funding sites like KickStarter.</p>
  
  
</template>
