
<template name="about">
  <h1>Fund sharing</h1>
  <p style='text-align: right;'>~ Fund Raising for Digital Products</p>
  <h2>About</h2>
  <p>
    I want to tell you a new way to fund raise for software, ebooks and other digital content, which originates from <a href="http://www.fund-io.com">Fund I/O</a>
  </p>
  <ul id='content-list'>
    <li>
      The idea is that if the cost per item is close to $0, then the buyer should pay close to $0.      
    </li>
    <li>
      The problem is that there is an upfront cost for creating it before it becomes cheaply available.
    </li>
    <li>
      The solution is to set an initial price at the beginning, i.e. the fund-raising stage, but refund the early buyers at a later stage when more people decide to purchase it.
    </li>
    <li>
      The price can eventually reach $0; this happens when a number of people are willing to give up a part of the refund, which accumulates to cover the original cost of the creation. (The refund you give up to make the product free is known as the cost of freedom)
    </li>
  </ul>
  <p>
    The problem is that we don't have any real evidence of whether it will work. In fact, Fund I/O is looking for real projects to participate before it plans to build an actual platform.
  </p>
  <p>That's why I have decided to build a platform for the Cornell StartUp Club Member to put projects up. Currently, we will run it on fake money. If it works well, we may add real money functionality.</p>
  <p>To get started, create a product with your idea.</p>
  <div style="text-align: center;"><a href="/addProduct" class='btn btn-primary'>Create a product</a></div>
  <br/>
  <p>If you are not ready to build a product, but have ideas of what you want to have, visit <a href="http://ideas.on.meteor.com">ideas.on.meteor</a> to express it there so that you or others can convert it to a product to be funded here.</p>
  
</template>
