<template name='addProduct'>
<h2>Add new product</h2>
<form class="form-horizontal">
  <div class="control-group">
    <label for="new-name-input" class="control-label">Product name</label>
    <div class="controls">
      <input id="new-name-input" type='text' placeholder='Product name' />
    </div>
  </div>
  <!-- <div class='control-group'>
    <label for="new-desc-input" class="control-label">Product description</label>
    <div class="controls">
      <textarea id="new-desc-input" placeholder='Product description'></textarea>
    </div>
  </div> -->
  <div class='control-group'>
    <label for='days-needed-input' class='control-label'>Days needed</label>
    <div class='controls'>
      <input id="days-needed-input" type='text' value="20" />      
    </div>
  </div>
  <div class='control-group'>
    <label for="new-funding-input" class="control-label">Funding Needed ($)</label>
    <div class="controls">
      <input id="new-funding-input" type='text' value='0' />
    </div>
  </div>
  <div class='control-group'>
    <label for='new-price-input' class='control-label'>Initial Price ($)</label>
    <div class='controls'>
      <input id="new-price-input" type='text' value='0' />
    </div>
  </div>
  <div class='form-actions'>
    <button id="new-product-submit" class='btn btn-primary'>
      Submit new product
    </button>
  </div>
</form>
<h2>Guide for filling out the form</h2>
<p>Days needed is the date you can deliver your product after the date the total funding needed has been raised.</p>
<p>Initial price is one that you yourself would be willing to pay.</p>
<p>But don't worry if you estimate incorrectly. We allow you to change these numbers. However, unreasonable changes would probably damage your reputation.</p>
</template>