
<template name='donate'>
  {{#with product}}
    <h2>{{name}}</h2>

    <div data-category='description' class="editable" data-type="wysihtml5" data-placeholder="Enter text" data-emptytext="Enter the product description here" data-rows="4">
      {{{description}}}
    </div>
    <div class='align-right' style='font-size: 10px'>
      <div>
        <a class='comment-icon' data-product-id={{_id}}><i class='icon-envelope'></i> {{creatorName}}</a>
      </div>
      <div>
        {{dateAbbrev createdAt}}
      </div>
    </div>
      
    <h3>Ordering</h3>
    <div class='inline-blocks'>
      <div class='control-group'>
        <label class='control-label'>Price</label>
        <div class='controls'>
          ${{fairPrice}}</span>
        </div>
      </div>
      <div class='control-group'>
        <label class='control-label'>Date of Release</label>
        <div class='controls'>
          {{dateAbbrev releaseDate}}
        </div>
      </div>
      <div class='control-group'>
        <label for='support-input' class='control-label'>
          Additional Support      
        </label>
        <div class='controls'>
          $ <input id="support-input" type='text' value="0" />      
        </div>
      </div>
    </div>
      
    <!--
    <div class='control-group'>
      <label for='email-input' class='control-label'>
        Email of receiver
      </label>
      <div class='controls'>
        <input id="email-input" type='text' value="{{email}}" />      
      </div>
    </div>
    -->
    <div class='form-actions'>
      <button id="purchase-submit" class='btn btn-primary'>
        <i class='icon-shopping-cart'></i>
        Submit order
      </button>
    </div>

    <h3>Donation progress</h3>
    <p style='color: green'>To lower the price of this product, submit an order and donate in <a href="/profile">your profile</a>.</p>
    <div class='progressbar'></div>
    <div>${{donations}} / ${{fundNeeded}}</div>
  {{/with}}
</template>