<template name='navigation'>
<div class='align-right'>
    {{loginButtons}}  
</div>
<br/>
<div class="navbar">
  <div class='navbar-inner'>
    <ul class='nav'>
      <li>
        <a href='/'>
          <i class='icon-home'></i>
          Home
        </a>
      </li>
      <li>
        <a href="/products">
          <i class='icon-beaker'></i>
          Products
        </a>
      </li>
      <li>
        {{#if currentUser}}
          <a href="/profile">
            <i class='icon-briefcase'></i>
            Profile
          </a>
        {{/if}}
      </li>
    </ul>
  </div>
</div>
</template>