<template name="products">
  <h1>Products for sale</h1>
  <table class='product-table'>
    <thead>
      <td>Name</td>
      <td>Status</td>
      <td>Release Date</td>
      <td class='align-right'>Price</td>
    </thead>
    {{#each products}}
      <tr>
        <td>
          <a href="/purchase/{{name}}">
            {{name}}
          </a>
        </td>
        
        <td class='align-right'>
          {{#isConceiving status}}<i class='icon-lightbulb'></i>{{/isConceiving}}
          {{#isBuilding status}}<i class='icon-wrench'></i>{{/isBuilding}}
          {{#isShipping status}}<i class='icon-truck'></i>{{/isShipping}}
          {{#isGiving status}}<i class='icon-gift'></i>{{/isGiving}}
        </td>
        <td>
          {{dateAbbrev releaseDate}}
        </td>
        <td class='align-right'>
          ${{price}}
        </td>
      </tr>
    {{/each}}
  </table>
</template>